<style>
    h1 {
        color: darkblue
    }
</style>

<h1>CRUD NODEJS</h1>
<hr>
<div class="vaiDesgraca">
    <a href='insert' class="button-3">Inserir</a> <br><br><br>
    <a href="select" class="button-1">Select</a> <br>
</div>